<div class="center jumbotron">
  <h1>Welcome to the finance calculator</h1>

  <h2>
    Manage your finances with ease! Simply sign up or login and get started.
  </h2>

  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
</div>